[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
types-pyyaml = "*"
types-attrs = "*"
types-requests = "*"

[packages]
attrs = "*"
pyyaml = "*"
requests = "*"

[requires]
python_version = "3.8"
